*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:white;
    --secundary-color: blue;
    --tertiary-color:#00ed5a;
    --quaternary-color:rgb(255, 128, 0);
    --quinary-color:#1e1e1e;
}




  

/* webskærm */
@media only screen and (min-width: 1100px) {
    /* generelt for body */
    body {
        margin-top: 4rem;
        font-family: 'montserrat';
        text-decoration: none;
        background-color: var(--quinary-color);
        color:white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
        height: 100%;
        line-height: 1.5rem;
    }
/* styling af "toppen" billede med overskrift og eyebrowtekst */
    .overskrift-sektion{
        background-image: url("../img/artikel1.webp"); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        width: auto;
        height: 50rem; 
        display: flex;
        /* align-items: center;
        justify-content: center; */
        position: relative; 
        margin-top: 5%;
    }

    .artikel-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        text-align: flex-start;
        margin-bottom: 5%;
        padding-left: 5%;
        margin-top: 5%;
    }

    .overskrift{
        display: flex;
        text-align: flex-start;
        padding-bottom: 7%;
        padding-top:0;
        font-family: 'impact';
        text-transform: uppercase;
        font-size: 450%;
        line-height: 4rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.293);  /* mild skygge for tydeliggørelse */
    }

    .eyebrow {
    color: #00ed5a;
    font-family: 'montserrat';
    }

    /* styling af artikelns tekst */
    .artikel{
        padding-left: 5%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .tekst-2 {
        padding-top: 4%;
    }

    h2 {
        padding-bottom: 1%;
        font-family:'impact';
    }

    .artikel p{
        padding-bottom: 3%;
    }

    /* anførelsestegn slut */
    .anførelses-tegn{
        font-family: var(--primary-font);
        font-size: 2.5rem;
        padding-left:1%;
    }

    /* anførelsestegn begynd */
    span{
        font-family: 'impact';
        font-size: 2.5rem;
    }


/* Styling af knap */
/* Center the container on the page */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom:10%;
  }
  
  /* Call-to-action knap */
  .button {
    font-family: 'impact';
    font-size: 150%; 
    color: white; 
    text-align: center; 
    padding: 1.5% 2%; 
    border: 1px solid white;
    background-color: transparent; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    text-transform: uppercase; 
    line-height: 1.5; 
  }
  
  /* Hover effect */
  .button:hover {
    background-color:blue; 
    color: #00ed5a;

  }
  
}

/* TABLET */
@media only screen and (max-width: 1099px) {
    /* generelt for body */
    body {
        margin-top: 4rem;
        font-family: 'montserrat';
        text-decoration: none;
        background-color: var(--quinary-color);
        color:white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
        height: 100%;
        line-height: 1.5rem;
    }
/* styling af "toppen" billede med overskrift og eyebrowtekst */
    .overskrift-sektion{
        background-image: url("../img/artikel1.webp"); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        width: auto;
        height: 40rem; 
        display: flex;
        /* align-items: center;
        justify-content: center; */
        position: relative; 
        margin-top: 5%;
    }

    .artikel-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: auto;
        text-align: flex-start;
        margin-bottom: 5%;
        padding-left: 5%;
        margin-top: 5%;
    }

    .overskrift{
        display: flex;
        text-align: flex-start;
        padding-bottom: 7%;
        padding-top:1%;
        font-family: 'impact';
        text-transform: uppercase;
        font-size: 400%;
        line-height: 4rem;
    }

    .eyebrow {
    color: #00ed5a;
    font-family: 'montserrat';
    }

    /* styling af artikelns tekst */
    .artikel{
        padding-left: 5%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .tekst-2 {
        padding-top: 4%;
    }

    h2 {
        padding-bottom: 1%;
        font-family:'impact';
    }

    .artikel p{
        padding-bottom: 3%;
    }

    /* anførelsestegn slut */
    .anførelses-tegn{
        font-family: var(--primary-font);
        font-size: 2.5rem;
        padding-left:1%;
    }

    /* anførelsestegn begynd */
    span{
        font-family: 'impact';
        font-size: 2.5rem;
    }


/* Styling af knap */
/* Center the container on the page */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom:10%;
  }
  
  /* Call-to-action knap */
  .button {
    font-family: 'impact';
    font-size: 150%; 
    color: white; 
    text-align: center; 
    padding: 1.5% 2%; 
    border: 1px solid white;
    background-color: transparent; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    text-transform: uppercase; 
    line-height: 1.5; 
  }
  
  /* Hover effect */
  .button:hover {
    background-color:blue; 
    color: #00ed5a;

  }
  
}

/* MOBIL */
@media only screen and (max-width: 600px) {
    /* generelt for body */
    body {
        margin-top: 4rem;
        font-family: 'montserrat';
        text-decoration: none;
        background-color: var(--quinary-color);
        color:white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
        height: 100%;
        line-height: 1.5rem;
    }
/* styling af "toppen" billede med overskrift og eyebrowtekst */
    .overskrift-sektion{
        background-image: url("../img/artikel1.webp"); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        width: auto;
        height: 40rem; 
        display: flex;
        /* align-items: center;
        justify-content: center; */
        position: relative; 
        margin-top: 5%;
    }

    .artikel-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        height: auto;
        text-align: flex-start;
        margin-bottom: 5%;
        padding-left: 5%;
        margin-top: 5%;
    }

    .overskrift{
        display: flex;
        text-align: flex-start;
        padding-bottom: 7%;
        padding-top:1%;
        font-family: 'impact';
        text-transform: uppercase;
        font-size: 400%;
        line-height: 4rem;
    }

    .eyebrow {
    color: #00ed5a;
    font-family: 'montserrat';
    }

    /* styling af artikelns tekst */
    .artikel{
        padding-left: 5%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .tekst-2 {
        padding-top: 4%;
    }

    h2 {
        padding-bottom: 1%;
        font-family:'impact';
    }

    .artikel p{
        padding-bottom: 3%;
    }

    /* anførelsestegn slut */
    .anførelses-tegn{
        font-family: var(--primary-font);
        font-size: 2.5rem;
        padding-left:1%;
    }

    /* anførelsestegn begynd */
    span{
        font-family: 'impact';
        font-size: 2.5rem;
    }


/* Styling af knap */
/* Center the container on the page */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom:10%;
  }
  
  /* Call-to-action knap */
  .button {
    font-family: 'impact';
    font-size: 115%; 
    color: white; 
    text-align: center; 
    padding: 1.5% 2%; 
    border: 1px solid white;
    background-color: transparent; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    text-transform: uppercase; 
    line-height: 1.5; 
  }
  
  /* Hover effect */
  .button:hover {
    background-color:blue; 
    color: #00ed5a;

  }
}


