*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:white;
    --secundary-color: #3cf9ff;
    --tertiary-color:#00ed5a;
    --quaternary-color:#ff7436;
    --quinary-color:#1e1e1e;
}

  /* generelt for body */
    body {
        margin-top: 4rem;
        font-family: 'montserrat';
        font-weight: 100;
        text-decoration: none;
        background-color: var(--quinary-color);
        color:white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
        height: 100%;
        line-height: 1.5rem;
        overflow-x: hidden; /* Fjern horisontal scroll */
    }
 
  
    /* styling af "toppen" billede med overskrift og eyebrowtekst */
    .overskrift-sektion{
        background-image: url("../img/event1.webp"); 
        background-size: 50%; 
        /* background-position: flex-start;  */
        background-repeat: no-repeat; 
        /* opacity: 80%; */
        width: auto;
        height: 50rem; 
        display: flex;
        position: relative; 
        margin-top: 5%;
    }

    .artikel-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        text-align: left;
        margin-bottom: 5%;
        padding-left: 5%;
        margin-top: 5%;
    }


    .overskrift{
        display: flex;
        text-align: left;
        padding-bottom: 7%;
        padding-top:0;
        font-family: 'impact';
        text-transform: uppercase;
        font-size: 450%;
        line-height: 4rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.293);  /* mild skygge for tydeliggørelse */
        color: #3cf9ff;
    }

    .info-card {
        background: #1e1e1e;
        padding: 1.5rem;
        color: white;
        border: 1px solid white;
        width: 35rem;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15%;
        right: 5%;
        position: fixed;
    }
    
    .info-card table {
        width: 100%;
    }
    
    .info-card table th,
    .info-card table td {
        text-align: left;
        padding: 0.5rem;
    }
    
    .ticket-button {
        margin-top: 1rem;
        padding: 0.9rem 1.5rem;
        background: white;
        color: #1e1e1e;
        font-size: 160%;
        border: none;
        cursor: pointer;
        width: 100%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    tr{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

tr:hover {
    color: #00FFFF;
    transform: scale(1.05);
   
}

.ticket-button:hover { 
        background-color: #1e1e1e; 
        color: white;
        border: 1px solid #3cf9ff; 
}



     /* styling af artikelns tekst */
     .artikel{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 10%;
        max-width: 50%;
    }

    .tekst-1 {
        padding-top: 4%;
    }

    h2 {
        padding-bottom: 1%;
        font-family:'impact';
    }

    .artikel p{
        padding-bottom: 3%;
    }

    .footer{
        width: 100%;
    }