*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#ffff;
    --secundary-color: #85f8fc;
    --tertiary-color:#00ed5a;
    --quaternary-color:#ff7436;
    --quinary-color:#1e1e1e;
}

  /* generel body styling */
    body {
        margin-top: 4rem;
        font-family: 'montserrat';
        text-decoration: none;
        background-color: var(--quinary-color);
        color: var(--primary-color);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
        height: 100%;
        line-height: 1.5rem;
        overflow-x: hidden; /* Fjern horisontal scroll */
    }

/* WEBSKÆRM */
@media only screen and (min-width: 1100px) {

    /* overskrift og tekst */
    .top {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        text-align: center; 
        /* height: 100vh; */
        padding-bottom: 7%;
        padding-top: 7%;
        background-color: var(--quinary-color); 
        color: var(--primary-color); 
    }
    
    .top h2 {
        font-size: 200%; 
        margin-bottom: 2.5%; 
        font-family: 'Impact', sans-serif;
        text-transform: uppercase; 
    }
    
    .top p {
        font-size: 110%; 
        line-height: 1.5; 
        font-family: 'Montserrat', sans-serif; 
        max-width: 50%; 
    }
    

        /* event billede sektion */
        .billede-container {
            position: relative; 
            display: inline-block; 
            width: 100%;
            overflow: hidden;
            line-height: 230%;
        }
        
        .billeder {
            display: block;
            width: 100%;
            height: auto;
        }
    
           .billede-sektion {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.25rem;
            padding: 1.25rem;
            max-width: 90%;
            margin: 0 auto;
        }
    
        .billede-sektion a {
            text-decoration: none; 
            color: var(--primary-color);
        }
        
        .sektion {
            text-align: center;
            padding: 0.6rem;
        }
    
        h4 {
           text-decoration: none;
            font-family: 'impact';
            font-size: 1.5rem;
        }
        .overlay-tekst {
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--primary-color); 
            font-family: 'impact';
            font-size: 3rem;
            font-weight: bold;
            z-index: 10; 
            pointer-events: none;
        }
        
      
        .billede-container:hover .overlay-tekst {
            opacity: 0.8; 
        }

        .billede-container:hover .overlay-tekst::after {
            content: " Book billet"; /* ændrer teksten */
            color: var(--secundary-color);
        }

        .billede-container:hover ~ .pris {
            font-family: 'impact';
        }
        
        .billeder:hover{
            border: 1px solid var(--secundary-color);
        }

       
}


/* TABLET */
@media screen and (max-width: 1099px) {

/* overskrift og tekst */
.top {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    padding-bottom: 7%;
    padding-top: 7%;
    background-color: var(--quinary-color); 
    color: var(--primary-color); 
}

.top h2 {
    font-size: 200%; 
    margin-bottom: 2.5%; 
    font-family: 'Impact', sans-serif;
    text-transform: uppercase; 
}

.top p {
    font-size: 90%; 
    line-height: 1.5; 
    font-family: 'Montserrat', sans-serif; 
    max-width: 60%; 
}

    /* event billede sektion */
    .billede-container {
        position: relative; 
        display: inline-block; 
        width: 100%;
        overflow: hidden;
    }
    
    .billeder {
        display: block;
        width: 100%;
        height: auto;
    }

       .billede-sektion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
        padding: 1.25rem;
        max-width: 90%;
        margin: 0 auto;
    }

    .billede-sektion a {
        text-decoration: none;
        color: var(--primary-color);
    }
    
    .sektion {
        text-align: center;
        padding: 0.6rem;
    }

    h4 {
       text-decoration: none;
        font-family: 'impact';
        font-size: 1.5rem;
    }
    .overlay-tekst {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        color: var(--primary-color); 
        font-family: 'impact';
        font-size: 3rem;
        font-weight: bold;
        z-index: 10; 
        pointer-events: none;
        line-height: 85%;  /* ændret liniehøjde så "book billet kan læses" */
    }
    
  
    .billede-container:hover .overlay-tekst {
        opacity: 0.8; 
    }



    .billede-container:hover .overlay-tekst::after {
        content: " Book billet"; /* ændrer teksten */
        color: var(--secundary-color);
    }

    .billede-container:hover ~ .pris {
        font-family: 'impact';
    }
    
    .billeder:hover{
        border: 1px solid var(--primary-color);
    }
}

/* MOBIL */
@media screen and (max-width: 600px){

/* overskrift og tekst */
.top {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    /* height: 100vh; */
    padding-bottom: 7%;
    padding-top: 10%;
    background-color: var(--quinary-color); 
    color: var(--primary-color); 
}

.top h2 {
    font-size: 200%; 
    margin-bottom: 2.5%; 
    font-family: 'Impact', sans-serif;
    text-transform: uppercase; 
}

.top p {
    font-size: 90%; 
    line-height: 1.5; 
    font-family: 'Montserrat', sans-serif; 
    max-width: 70%; 
}


    /* event billede sektion */
    .billede-container {
        position: relative; 
        display: inline-block; 
        width: 100%;
        overflow: hidden;

    }
    
    .billeder {
        display: block;
        width: 100%;
        height: auto;
    }

       .billede-sektion {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.25rem;
        padding: 1.25rem;
        max-width: 90%;
        margin: 0 auto;
    }

    .billede-sektion a {
        text-decoration: none; 
        color: var(--primary-color); 
    }
    
    .sektion {
        text-align: center;
        padding: 0.6rem;
    }

    h4 {
       text-decoration: none;
        font-family: 'impact';
        font-size: 1.5rem;
    }
    .overlay-tekst {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: var(--primary-color); 
        font-family: 'impact';
        font-size: 3rem; 
        font-weight: bold;
        z-index: 10;
        pointer-events: none; 
    }
    
  
    .billede-container:hover .overlay-tekst {
        opacity: 0.8; 
    }



    .billede-container:hover .overlay-tekst::after {
        content: " Book billet"; /* ændrer teksten */
        color: var(--secundary-color);
    }

    .billede-container:hover ~ .pris {
        font-family: 'impact';
    }
    
    .billeder:hover{
        border: 1px solid var(--primary-color);
    }
}