
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:white;
    --secundary-color: #3cf9ff;
    --tertiary-color:#00ed5a;
    --quaternary-color:#ff7436;
    --quinary-color:#1e1e1e;
}





  

/* webskærm */
@media only screen and (min-width: 1100px) {

footer {
    margin-top: 4rem;
    font-family: 'montserrat';
    text-decoration: none;
    background-color: #1e1e1e;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 100%;
    line-height: 2.5%;
}
/* General Footer Styling */
footer .footer {
    display:flex;
    flex-direction: row;
    align-items: center;
    
}
.footer {
    background-color: #1e1e1e;
    color: white;
    padding-top:5%;
    padding-bottom:5%;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

/* Contact Info */
.kontakt-info,
.newsletter,
.kontakt {
    flex: 1;
    min-width: 250px;
    margin: 1%;
    text-align: center;
}

.kontakt-info p,
.kontakt p {
    margin: 3%;
    font-size: 80%;
}

/* Newsletter Form */
.nyhedsbrev h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    font-weight: 300;
    color: white;
    margin-bottom: 5%;
}

.nyhedsbrev form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    margin-bottom: 5%;
}

.nyhedsbrev input {
    padding: 2%;
    border: 1px solid white;
    background-color: #1e1e1e;
    color: white;
    font-size: 80%;
}

.nyhedsbrev button {
    background-color: white;
    border: none;
    color: black;
    padding: 2% 4%;
    cursor: pointer;
    font-size: 80%;
}

.nyhedsbrev button:hover {
    background-color: #3cf9ff;
    color: black;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 17%;
}

.social-icons a {
    color: white;
    font-size: 120%;
}

.social-icons a:hover {
    color: #3cf9ff;
}


.kontakt {
    margin-top: 3%;
    font-size: 80%;
}

.kontakt-info {
    margin-top: 3%;
    font-size: 80%; 
}
}

/*styling til tablet*/
@media screen and (max-width: 1099px){ 
    body {
        margin-top: 4rem;
        font-family: 'montserrat';
        text-decoration: none;
        background-color: #1e1e1e;
        color: white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
        height: 100%;
        line-height: 1.5rem;
    }
    /* General Footer Styling */
    footer .footer {
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .footer {
        background-color: #1e1e1e;
        color: white;
        padding: 2vh;
        text-align: center;
        
    }
    
    .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 75rem;
        margin: 0 auto;
    }
    
    /* Contact Info */
    .kontakt-info,
    .nyhedsbrev,
    .kontakt {
        flex: 1;
        min-width: 15.6rem;
        margin: 1%;
        text-align: center;
    }
    
    .kontakt-info p,
    .kontakt p {
        margin: 3%;
        font-size: 80%;
    }
    
    /* Newsletter Form */
    .nyhedsbrev h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 80%;
        font-weight: 300;
        color: white;
        margin-bottom: 5%;
    }
    
    .nyhedsbrev form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2%;
        margin-bottom: 5%;
    }
    
    .nyhedsbrev input {
        padding: 2%;
        border: 1px solid white;
        background-color: #1e1e1e;
        color: white;
        font-size: 80%;
    }
    
    .nyhedsbrev button {
        background-color: white;
        border: none;
        color: black;
        padding: 2% 4%;
        cursor: pointer;
        font-size: 80%;
    }
    
    .nyhedsbrev button:hover {
        background-color: #3cf9ff;
        color: black;
    }
    
    /* Social Icons */
    .social-icons {
        display: flex;
        justify-content: center;
        gap: 4%;
        margin-top: 17%;
    }
    
    .social-icons a {
        color: white;
        font-size: 120%;
    }
    
    .social-icons a:hover {
        color: #3cf9ff;
    }
    
    
    .kontakt {
        margin-top: 3%;
        font-size: 80%;
    }
    
    .kontakt-info {
        margin-top: 3%;
        font-size: 80%; 
    }
    }

/*footer breakpoint*/
@media screen and (max-width: 1040px){

    body {
        margin-top: 2rem;
        font-family: 'montserrat';
        text-decoration: none;
        background-color: #1e1e1e;
        color: white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
        height: 100%;
        line-height: 1.5rem;
    }


    .footer {
        background-color: #1e1e1e;
        color: white;
        padding: 3vh;
        text-align: center;
       
    }

    section .footer-content{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-self: center;
        gap: 20px;
    }
  
    /* .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    } */
  
    .kontakt-info,
    .nyhedsbrev,
    .kontakt {
        flex: 1;
        min-width: 100%;
        margin: 10px 0;
    }
  
    .kontakt-info p,
    .kontakt p {
        margin: 1%;
        font-size: 14px;
    }

    .nyhedsbrev{
        padding-top: 4%;
    }
  
    .nyhedsbrev h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: white;
        margin-bottom: 10px;
    }
  
    .nyhedsbrev form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 1%;
    }
  
    .nyhedsbrev input {
        padding: 10px;
        width: 40%;
        border: 1px solid white;
        background-color: #1e1e1e;
        color: white;
        font-size: 14px;
    }
  
    .nyhedsbrev button {
        background-color: white;
        border: none;
        color: black;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 14px;
    }
  
    .nyhedsbrev button:hover {
        background-color: #3cf9ff;
        color: black;
    }
  
    .social-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 3%;
        padding-bottom: 2%;
    }
  
    .social-icons a {
        color: white;
        font-size: 1.5em;
    }
  
    .social-icons a:hover {
        color: #3cf9ff;
    }
  
    .kontakt {
        margin-top: 20px;
        font-size: 14px;
    }
}


/*styling til smartphones*/
@media screen and (max-width: 600px) {

    body {
        margin-top: 2rem;
        font-family: 'montserrat';
        text-decoration: none;
        background-color: #1e1e1e;
        color: white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
        height: 100%;
        line-height: 1.5rem;
    }


    .footer {
        background-color: #1e1e1e;
        color: white;
        padding: 3vh;
        text-align: center;
        border-top: 0.5px solid #3cf9ff;
    }

    section .footer-content{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-self: center;
        gap: 20px;
    }
  
    /* .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    } */
  
    .kontakt-info,
    .nyhedsbrev,
    .kontakt {
        flex: 1;
        min-width: 100%;
        margin: 10px 0;
    }
  
    .kontakt-info p,
    .kontakt p {
        margin: 3%;
        font-size: 14px;
    }

    .nyhedsbrev{
        padding-top: 7%;
    }
  
    .nyhedsbrev h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: white;
        margin-bottom: 10px;
    }
  
    .nyhedsbrev form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
  
    .nyhedsbrev input {
        padding: 10px;
        width: 80%;
        border: 1px solid white;
        background-color: #1e1e1e;
        color: white;
        font-size: 14px;
    }
  
    .nyhedsbrev button {
        background-color: white;
        border: none;
        color: black;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 14px;
    }
  
    .nyhedsbrev button:hover {
        background-color: #3cf9ff;
        color: black;
    }
  
    .social-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 7%;
        padding-bottom: 7%;
    }
  
    .social-icons a {
        color: white;
        font-size: 1.5em;
    }
  
    .social-icons a:hover {
        color: #3cf9ff;
    }
  
    .kontakt {
        margin-top: 20px;
        font-size: 14px;
    }
    }

