*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color:white;
    --secundary-color: #3cf9ff;
    --tertiary-color:#00ed5a;
    --quaternary-color:#ff7436;
    --quinary-color:#1e1e1e;
}

body {
    font-family: 'montserrat';
    text-decoration: none;
    background-position: center;
    /* text-align: center; */
    background-color: #1e1e1e;
    min-width: 100vw;
    line-height: 2rem;
}


/* header styling */
header {
    position: fixed;
    top:0;
    left:0.3rem;
    right:0.3rem;
    width: 100%;
    z-index: 1000;
    background: transparent;
    box-shadow: 0 0.3rem 0.6rem rgba(0,0,0,0.1);
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

/*  logo */
header .logo{
    margin-left: 0.6rem;
    padding-left: 0rem;
}

.logo{
    width: 10vw;
    margin-top: 5%;

}

/* hovedmenuen */
header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}


/* hovedmenu og undermenu styling */
header .navbar ul li a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'impact';
    padding: 1.125rem 4.365rem;
    color: white;
    display: block;
    text-align: left;
}


/* hoved menupunkt hover */
header .navbar ul li a:hover {
    background: white;
    color: #1e1e1e;
}

/* undermenu niveau et */
header .navbar ul li ul {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 12rem;
    background: #1e1e1e; 
    display: none;
    padding: 0;
}

header .navbar ul li ul li {
    width: 100%; 
    border-top: 0.06rem solid rgba(255, 255, 255, 0.2); 
}

/* undermenuer styling */
header .navbar ul li ul li a {
    padding: 0.6rem 0; 
    color: white; 
    text-align: left;
    margin-left: 0.3rem;
    width: 100%; 
    display: block;
    box-sizing: border-box;
    font-family: 'montserrat';
    font-size: 0.9rem;
}

/* undermenu hover effekt */
header .navbar ul li ul li a:hover {
    background: #1e1e1e;
    color: #3cf9ff;
}



/* Hover-effekt der sørger for dropdown til undermenuer */
header .navbar ul li:hover > ul,
header .navbar ul li ul li:hover > ul {
    display: block;
}

/* Gemmer checkboxen */
#sidebar-active {
    display: none;
}


header label {
    font-size: 1.25rem;
    color: #333;
    cursor: pointer;
    display: none;
}

/* Fjerner burgermenuen på desktop */
.burgermenu{
display: none;
}

/*styling til tablet*/
@media screen and (max-width: 1220px){ 

    header {
        position: fixed;
        top: 0;
        left: 0.3125rem; 
        right: 0.3125rem; 
        width: 100%;
        z-index: 1000;
        background: transparent;
        padding: 0.3125rem; 
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-transform: uppercase;
    }
    
    header .logo{
        margin-left: 0.0625rem;
        padding-left: 0rem;
    }
    
    .logo{
        width: 15vw;
        padding-top: 30%;
    
    }
    
  
    /* .navbar {
        display: none;
    } */
    
    nav{
        height: 3.75rem;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    
    
    /* styling af tekst */
    nav ul li a{
        height: 100%;
        padding: 0 1.25rem;
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        color: black;
    }
    


    /* styling af ikoner ikoner */
    /* de tre streger */
    .streger {
        fill: white;
        background-color: transparent;
    }
    
    /* krydset */
    nav svg .kryds {
        fill: white;
        background-color: transparent;
    }
    
    /* fjerner checkboks (åben) */
    #sidebar-active {
        display: none;
    }
    
    /* fjerner checkboks (lukket)*/
    .open-sidebar-button, .close-sidebar-button {
        display: none; 
    }
    
    
    /* styling af selve den boks der folder ud, når burgeren klikkes */
        .links-container{
            height: 100%;
            width: 32%;
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            background-color:#1e1e1e;
    
           flex-direction: column; /* opsætning over hinanden */
           align-items: flex-start; /* placering i venstre side */
    
           position: fixed; /* Navigationsbaren følger med når der scrolles */
           top: 0;
           right: -100%; /* den grå boks er skjult til de tre streger klikkes af */
           z-index: 10;
           width: 18.75rem;
           color: black;
    
           box-shadow: -0.3rem 0 0.3rem rgba(0,0,0,0.25); /* svag skygge på boksen */
           transition: 1s ease-out; /* åbnes smooth */
    
        }
    
    nav ul li a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 1.25rem 1.85rem;
        justify-content: flex-start; 
        font-family: 'montserrat';
    }
    
    .open-sidebar-button, .close-sidebar-button {
        padding: 1.25rem;
        display: block;
    }
    
    /* den grå boks reaktion/ændring npr de tre streger klikkes */
    #sidebar-active:checked ~ .links-container{
    right: 0;  /* ændres fra -100 (skjult) til 0 (synlig) */
    }
    
    /* Effekt der gør det muligt at klikke ud af menuen ved klik udenfor den grå boks */
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        display: block;
    }
    
    .navbar-menu li:hover > .dropdown {
        display: block;
        position: relative; /* sørger for at undermenuerne ikke "dropper down" oveni hovedmenuerne */
        width: 100%;
        padding-left: 0;
        margin-top: 0.3rem;
    }

    @media screen and (max-width: 600px){

        /* æÆndring i bredden, så menuen fylder mere af skærmen på mobil end tablet */
    .links-container{
        height: 100%;
        width: 50%; /* flyder 50% på mobil */
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        background-color:#1e1e1e;

       flex-direction: column;
       align-items: flex-start;

       position: fixed;
       top: 0;
       right: -100%; 
       z-index: 10;
       width: 18.75rem;
       color: black;

       box-shadow: -0.3rem 0 0.3rem rgba(0,0,0,0.25);
       transition: 1s ease-out;
       }
}
}