*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:white;
    --secundary-color: #3cf9ff;
    --tertiary-color:#00ed5a;
    --quaternary-color:#ff7436;
    --quinary-color:#1e1e1e;
}




  

/* webskærm */
@media only screen and (min-width: 1100px) {

    /* generel body styling */
    body {
        margin-top: 4rem;
        font-family: 'montserrat';
        text-decoration: none;
        background-color:var(--quinary-color);
        color:white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
        height: 100%;
        line-height: 1.5rem;
        overflow-x: hidden; /* Fjern horisontal scroll */
    }

    /* video sektion */
    video {
        width: 100%;
        height:10%;
    }

    h2{
        font-family: 'impact';
        padding-top: 7%;
        margin: 5%;
        font-size: 300%;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }
   
    /* event billede sektion */
    .billede-container {
        position: relative; 
        display: inline-block;
        width: 100%;
        overflow: hidden;
    }
    
    .billeder {
        display: block;
        width: 100%;
        height: auto;
    }

       .billede-sektion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
        padding: 1.25rem;
        max-width: 1000px;
        margin: 0 auto;
    }

    .billede-sektion a {
        text-decoration: none; /* fjerer lilla linje */
        color: white; 
    }
    
    .sektion {
        text-align: center;
        padding: 0.6rem;
    }

    h4 {
        font-family: 'impact';
        font-size: 1.5rem;
    }

    .overlay-tekst {
        position: absolute; /* Position relative ift. .billede-container */
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white;
        font-family: 'impact';
        font-size: 3rem; 
        font-weight: bold;
        z-index: 10; 
        pointer-events: none; 
    }
    
  
    .billede-container:hover .overlay-tekst {
        opacity: 0.8; 
    }



    .billede-container:hover .overlay-tekst::after {
        content: " Book billet"; /* ændrer teksten */
        color: #3cf9ff;
    }

    .billede-container:hover ~ .pris {
        font-family: 'impact';
    }
    
    .billeder:hover{
        border: 1px solid white;
    }

    .cta {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-bottom:10%;
        padding-top: 7%;
      }
      
      /* Call-to-action knap */
      .button {
        font-family: 'impact';
        font-size: 1.5rem; 
        font-weight: bold; 
        color: white; 
        text-align: center; 
        padding: 1rem 2rem; 
        border: 1px solid white; 
        background-color: transparent; 
        cursor: pointer;
        transition: all 0.3s ease; 
        text-transform: uppercase; 
        line-height: 1.5; 
        text-decoration: none;
      }
    
      .button:hover {
        background-color: white; 
        color: #1e1e1e;
        border: 1px solid #3cf9ff; 
        }

      .video-sektion {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        text-align: center; 
      }
    

      /* sektion med billedvideo */
    .billede-video {
        max-width: 60%; 
        height: auto;
    }



    h2.artikel {
        background-image: url("../img/artikelforsøg3.webp"); 
        background-size: cover; /* Sørg for, at billedet fylder hele elementet */
        background-position: center center; 
        background-repeat: no-repeat; 
        width: 80%; /* Sikrer responsiv bredde */
        height: 40rem; /* Tilpasset højde */
        margin: 0 auto;
        padding-right: 5%;
        display: flex;
        align-items: center; /* Centrerer teksten vertikalt */
        justify-content: center; /* Centrerer teksten horisontalt */
        position: relative; 
        margin-top: 5%;
        color: white;
    
        text-align: center;
        font-family: 'Impact', sans-serif; /* Brug 'sans-serif' som fallback */
        text-transform: uppercase;
        font-size: 4rem;
        line-height: 4rem;
        padding: 0; /* Fjern unødvendig polstring */
    }
    
    /* Sikrer, at links ikke har understregning */
    section a {
        text-decoration: none;
    }

    .artikel:hover {
       color: #3cf9ff;
       transform: scale(1.05);
    }
    
    .del {
        width: 60%; 
        padding: 1.25rem; 
        border: 1px dashed white; 
         margin: 0 auto; 
        text-align: center; 
        box-sizing: border-box; 
        /* height: 9.375rem; 
        width: 56rem; */
        display: flex; 
        justify-content: center; 
        align-items: center;
        padding-top: 5%;
        padding-bottom: 5%;
         margin-bottom: 10%;
        margin-top: 10%;
    }

    .del p {
        font-family: 'montserrat';
        font-size: 150%;
        font-weight: 100;
    }
    .del:hover{
        border: 1px dashed #3cf9ff; 
        transform: scale(1.05);
    }
    
}


/* TABLET */
@media only screen and (max-width: 1099px){
  /* generel body styling */
  body {
    margin-top: 4rem;
    font-family: 'montserrat';
    text-decoration: none;
    background-color: #1e1e1e;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 100%;
    line-height: 1.5rem;
    overflow-x: hidden; /* Fjern horisontal scroll */
}

video {
    width: 100%;
    height:90%;
}

h2{
    font-family: 'impact';
    padding-top: 7%;
    margin: 5%;
    font-size: 300%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
/* event billede sektion */
.billede-container {
    position: relative; /* Make the container a positioned element */
    display: inline-block; /* Keep it aligned with the image dimensions */
    width: 100%;
    overflow: hidden;
}

.billeder {
    display: block;
    width: 100%;
    height: auto;
}

   .billede-sektion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    max-width: 1000px;
    margin: 0 auto;
}

.billede-sektion a {
    text-decoration: none; /* Removes underline */
    color: white; /* Changes link color */
}

.sektion {
    text-align: center;
    padding: 0.6rem;
}

h4 {
    font-family: 'impact';
    font-size: 1.5rem;
}
.overlay-tekst {
    position: absolute; /* Position relative ift .billede-container */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-family: 'impact';
    font-size: 3rem; 
    font-weight: bold;
    z-index: 10; 
    pointer-events: none; 
    line-height: 85%;  /* ændret liniehøjde så "book billet kan læses" */
}


.billede-container:hover .overlay-tekst::after {
    content: " Book billet"; /* ændrer teksten */
    color: #3cf9ff;
}

.billede-container:hover ~ .pris {
    font-family: 'impact';
}

.billeder:hover{
    border: 1px solid white;
}


 /* Call-to-action button */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom:10%;
    padding-top: 7%;
  }
  
 
  .button {
    font-family: 'impact';
    font-size: 1.5rem; 
    font-weight: bold; 
    color: white; 
    text-align: center; 
    padding: 1rem 2rem; 
    border: 2px solid white; 
    background-color: transparent; 
    cursor: pointer;
    transition: all 0.3s ease; 
    text-transform: uppercase; 
    line-height: 1.5; 
    text-decoration: none;
  }
  
  /* Hover effect */
  .button:hover {
    background-color: white; 
    color: #1e1e1e;
    border: 1px solid #3cf9ff; 
    }


    /* video sektion */

  .video-sektion {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }

.billede-video {
    max-width: 60%; 
    height: auto; 
}



h2.artikel {
    background-image: url("../img/artikelforsøg3.webp"); 
    background-size: cover; /* Sørg for, at billedet fylder hele elementet */
    background-position: center; 
    background-repeat: no-repeat; 
    width: 80%; /* Sikrer responsiv bredde */
    height: 30rem; /* Tilpasset højde */
    margin: 0 auto;
    padding-right:5%;
    display: flex;
    align-items: center; /* Centrerer teksten vertikalt */
    justify-content: center; /* Centrerer teksten horisontalt */
    position: relative; 
    margin-top: 5%;
    color: white;

    text-align: center;
    font-family: 'Impact', sans-serif; 
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3rem;
    padding: 0; 
}

/* Sikrer, at links ikke har understregning */
section a {
    text-decoration: none;
}

.artikel:hover {
   color: #3cf9ff;
   transform: scale(1.05);
}

.del {
    width: 60%; 
    padding: 1.25rem; 
    border: 1px dashed white; 
     margin: 0 auto; 
    text-align: center; 
    box-sizing: border-box; 
    /* height: 9.375rem; 
    width: 56rem; */
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
     margin-bottom: 10%;
    margin-top: 10%;
}

.del p {
    font-family: 'montserrat';
    font-size: 130%;
    font-weight: 100;
}
.del:hover{
    border: 1px dashed #3cf9ff; 
    transform: scale(1.05);
}
}

/* BREAKPOINT */
@media only screen and (max-width: 900px){
     /* generel body styling */
  body {
    margin-top: 4rem;
    font-family: 'montserrat';
    text-decoration: none;
    background-color: #1e1e1e;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 100%;
    line-height: 1.5rem;
    overflow-x: hidden; /* Fjern horisontal scroll */
}

video {
    width: 100%;
    height:90%;
}

h2{
    font-family: 'impact';
    padding-top: 7%;
    margin: 5%;
    font-size: 300%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
/* event billede sektion */
.billede-container {
    position: relative; /* Make the container a positioned element */
    display: inline-block; /* Keep it aligned with the image dimensions */
    width: 100%;
    overflow: hidden;
}

.billeder {
    display: block;
    width: 100%;
    height: auto;
}

   .billede-sektion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    max-width: 90%;
    margin: 0 auto;
}

.billede-sektion a {
    text-decoration: none; /* Removes underline */
    color: white; /* Changes link color */
}

.sektion {
    text-align: center;
    padding: 0.6rem;
}

h4 {
    font-family: 'impact';
    font-size: 1.5rem;
}
.overlay-tekst {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-family: 'impact';
    font-size: 3rem; 
    font-weight: bold;
    z-index: 10; 
    pointer-events: none;
    line-height: 85%;  /* ændret liniehøjde så "book billet kan læses" */
}


.billede-container:hover .overlay-tekst::after {
    content: " Book billet"; /* ændrer teksten */
    color: #3cf9ff;
}

.billede-container:hover ~ .pris {
    font-family: 'impact';
}

.billeder:hover{
    border: 1px solid white;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom:10%;
    padding-top: 7%;
  }
  
  /* Call-to-action button */
  .button {
    font-family: 'impact';
    font-size: 1.5rem; 
    font-weight: bold; 
    color: white; 
    text-align: center; 
    padding: 1rem 2rem; 
    border: 2px solid white; 
    background-color: transparent; 
    cursor: pointer;
    transition: all 0.3s ease; 
    text-transform: uppercase; 
    line-height: 1.5; 
    text-decoration: none;
  }
  
  /* Hover effect */
  .button:hover {
    background-color: white; 
    color: #1e1e1e;
    border: 1px solid #3cf9ff; 
    }

  .video-sektion {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }

.billede-video {
    max-width: 60%; /* Ensures video is responsive */
    height: auto; /* Maintains aspect ratio */
}




h2.artikel {
    background-image: url("../img/artikel1.webp"); 
    background-size: cover; /* Sørg for, at billedet fylder hele elementet */
    background-position: center; 
    background-repeat: no-repeat; 
    width: 80%; /* Sikrer responsiv bredde */
    height: 20rem; /* Tilpasset højde */
    margin: 0 auto;
    padding-right: 5%;
    display: flex;
    align-items: center; /* Centrerer teksten vertikalt */
    justify-content: center; /* Centrerer teksten horisontalt */
    position: relative; 
    margin-top: 5%;
    color: white;

 

    text-align: center;
    font-family: 'Impact', sans-serif; /* Brug 'sans-serif' som fallback */
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0; /* Fjern unødvendig polstring */
}

/* Sikrer, at links ikke har understregning */
section a {
    text-decoration: none;
}

.artikel:hover {
   color: #3cf9ff;
   transform: scale(1.05);
}

.del {
    width: 80%; 
    padding: 1rem; 
    border: 1px dashed white; 
     margin: 0 auto; 
    text-align: center; 
    box-sizing: border-box; 
    /* height: 9.375rem; 
    width: 56rem; */
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
     margin-bottom: 10%;
    margin-top: 10%;
}

.del p {
    font-family: 'montserrat';
    font-size: 120%;
    font-weight: 100;
}
.del:hover{
    border: 1px dashed #3cf9ff; 
    transform: scale(1.05);
}
}




/* MOBIL */
@media only screen and (max-width: 600px) {
  /* generel body styling */
  body {
    margin-top: 4rem;
    font-family: 'montserrat';
    text-decoration: none;
    background-color: #1e1e1e;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 100%;
    width: auto;
    line-height: 1.5rem;
    overflow-x: hidden; /* Fjern horisontal scroll */
}

video {
    width: 100%;
    height:90%;
}

h2{
    font-family: 'impact';
    padding-top: 7%;
    margin: 5%;
    font-size: 300%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
/* event billede sektion */
.billede-container {
    position: relative; 
    display: inline-block; 
    width: 100%;
    overflow: hidden;
}

.billeder {
    display: block;
    width: 90%;
}

   .billede-sektion {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    max-width: 90%;
    margin: 0 auto;
}

.billede-sektion a {
    text-decoration: none; 
    color: white; 
}

.sektion {
    text-align: center;
    padding: 0.6rem;
}

h4 {
    font-family: 'impact';
    font-size: 1.5rem;
}
.overlay-tekst {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white; 
    font-family: 'impact';
    font-size: 3rem; 
    font-weight: bold;
    z-index: 10; 
    pointer-events: none;
    line-height: 85%;  /* ændret liniehøjde så "book billet kan læses" */ 
}


.billede-container:hover .overlay-tekst::after {
    content: " Book billet"; /* ændrer teksten */
    color: #3cf9ff;
}

.billede-container:hover ~ .pris {
    font-family: 'impact';
}

.billeder:hover{
    border: 1px solid white;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom:10%;
    padding-top: 7%;
  }
  
  /* Call-to-action button */
  .button {
    font-family: 'impact';
    font-size: 1.5rem; 
    font-weight: bold; 
    color: white; 
    text-align: center; 
    padding: 1rem 2rem; 
    border: 1px solid white; 
    background-color: transparent; 
    cursor: pointer;
    transition: all 0.3s ease; 
    text-transform: uppercase; 
    line-height: 1.5; 
    text-decoration: none;
  }
  
  /* Hover effect */
  .button:hover {
    background-color: white; 
    color: #1e1e1e;
    border: 1px solid #3cf9ff; 
    }

  .video-sektion {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }

.billede-video {
    max-width: 60%; /* Ensures video is responsive */
    height: auto; /* Maintains aspect ratio */
}


/* sektion med link til artikel */
h2.artikel {
    background-image: url("../img/artikelforsøg3.webp"); 
    background-size: cover; /* Sørg for, at billedet fylder hele elementet */
    background-position: center; 
    background-repeat: no-repeat; 
    width: 80%; /* Sikrer responsiv bredde */
    height: 20rem; /* Tilpasset højde */
    margin: 0 auto;
    padding-right: 5%;
    display: flex;
    align-items: center; /* Centrerer teksten vertikalt */
    justify-content: center; /* Centrerer teksten horisontalt */
    position: relative; 
    margin-top: 5%;
    color: white;

    text-align: center;
    font-family: 'Impact', sans-serif; /* Brug 'sans-serif' som fallback */
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0; 
}

/* Sikrer, at links ikke har understregning */
section a {
    text-decoration: none;
}

.artikel:hover {
   color: #3cf9ff;
   transform: scale(1.05);
}

.del {
    width: 90%; 
    padding: 0.75rem; 
    border: 1px dashed white; 
     margin: 0 auto; 
    text-align: center; 
    box-sizing: border-box; 
    /* height: 9.375rem; 
    width: 56rem; */
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.del p {
    font-family: 'montserrat';
    font-size: 90%;
    font-weight: 100;
}
.del:hover{
    border: 2px dashed #3cf9ff; 
    transform: scale(1.05);
}
}